FLASK_APP=fax_server.app:create_app
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000

FAX_DATABASE=/var/lib/ccc-fax/fax.db
FAX_STORAGE=/var/lib/ccc-fax
FREESWITCH_STORAGE=/var/lib/ccc-fax
FAX_CONVERT_BIN=/usr/bin/convert
FAX_OFFICE_CONVERT_BIN=/usr/bin/soffice

FREESWITCH_HOST=127.0.0.1
FREESWITCH_EVENT_SOCKET_PORT=8021
FREESWITCH_EVENT_SOCKET_PASSWORD=ClueCon
FREESWITCH_CLI_CONTAINER=
FREESWITCH_PROFILE=ccc-fax
FREESWITCH_GATEWAY=webex
FREESWITCH_CALLER_ID_NUMBER=
FREESWITCH_OUTBOUND_FROM_USER=
FREESWITCH_INBOUND_DIALPLAN=/usr/local/freeswitch/etc/freeswitch/dialplan/ccc-fax.xml
FREESWITCH_PROVIDER_DIR=/usr/local/freeswitch/etc/freeswitch/sip_profiles/provider
FREESWITCH_PARENT_GATEWAY=webex
FREESWITCH_RELOAD_ON_PROVISION=true

WEBEX_ACCESS_TOKEN=
WEBEX_ORG_ID=
WEBEX_API_BASE=https://webexapis.com/v1
